.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  padding: 15px;
  z-index: 1;
}
.default-margin-top {
  margin-top: 85px;
}

.row-style {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
.txt-overflow {
  overflow-wrap: break-word;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
